In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("data/species3.csv", encoding="euc-kr")

In [3]:
data.head()

  species         lon        lat
0     백부자  128.341556  36.905056
1     백부자  128.344111  36.905611
2     백부자  128.343833  36.905500
3     백부자  128.343861  36.904472
4     백부자  128.343639  36.904528

In [4]:
altArray  = np.loadtxt("data/alt_110.asc", skiprows=6)
altArray.shape

(1234, 1929)

In [5]:
import linecache
lines =[]
lines.append(linecache.getline("data/alt_110.asc", 1))
lines.append (linecache.getline("data/alt_110.asc", 2))
lines.append ( linecache.getline("data/alt_110.asc", 3))
lines.append ( linecache.getline("data/alt_110.asc", 4))
lines.append ( linecache.getline("data/alt_110.asc", 5))
lines.append ( linecache.getline("data/alt_110.asc", 6))

In [6]:
for line in lines:
    print(line)

ncols         1929

nrows         1234

xllcorner     120

yllcorner     32.948310202094

cellsize      0.0083333333333333

NODATA_value  -9999

In [7]:
header = "ncols     %s\n" % altArray.shape[1]
header += "nrows    %s\n" % altArray.shape[0]
header += "xllcorner 120.0\n"
header += "yllcorner 32.948310202094\n"
header += "cellsize 0.0083333333333333\n"
header += "NODATA_value -9999\n"

In [8]:
f = open("data/myGrid1.asc", "w")
f.write(header)
np.savetxt(f, altArray, fmt="%1.2f")
f.close()

In [9]:
with open("data/myGrid12.asc", "w") as f:
    f.write(header)
    np.savetxt(f, altArray, fmt="%1.2f")

In [10]:
with open("data/altArray2.asc", "w") as f:
    f.write(header)
    np.savetxt(f, altArray, fmt="%1.2f")