# 라이브러리 불러오기

In [1]:
import geopandas as gpd

In [10]:
import os
import time
from tqdm import tqdm
import rasterio as rio
from rasterio.plot import show

from glob import glob
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# matplotlib 옵션 설정

In [15]:
plt.rcParams["figure.figsize"] = (14,14)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams['lines.color'] = 'r'
plt.rcParams['axes.grid'] = True

# 자료 처리시간 계산

In [4]:
current_sec =time.time()
current_sec

1606920594.699968

In [5]:
tm = time.localtime(current_sec)
print("year:", tm.tm_year)
print("month:", tm.tm_mon)
print("day:", tm.tm_mday)
print("hour:", tm.tm_hour)
print("minute:", tm.tm_min)
print("second:", tm.tm_sec)

year: 2020
month: 12
day: 2
hour: 23
minute: 49
second: 54

In [6]:
time.time()-current_sec

29.863708019256592

# csv 파일 또는 shp파일 불러오기

## 0. csv파일 불러오기

In [58]:
csv = pd.read_csv("data/species3.csv", encoding='euc-kr') # 엑셀프로그램으로 만든 csv파일을 불러올때 반드시 encoding 옵션을 euc-kr로 설정
print(csv.shape)
csv.head()

(82, 3)

  species         lon        lat
0     백부자  128.341556  36.905056
1     백부자  128.344111  36.905611
2     백부자  128.343833  36.905500
3     백부자  128.343861  36.904472
4     백부자  128.343639  36.904528

## 1. GIS shp파일 불러오기

In [7]:
gis = gpd.read_file("data/gis_file/bee_shp.shp", encoding='euc-kr')
gis.head()

,beeID,kor_name,eng_name,status,img_url,source,date,lon,lat,altitude,geometry
0,1315,삿포로수염치레꽃등에,Chrysotoxum sapporense,"""""파리목\n꽃등에과""""",http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18011,36.439240,0.0,POINT (129.18011 36.43924)
1,1318,꽃등에,Eristalis tenax,파리목\n꽃등에과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18129,36.440617,0.0,POINT (129.18129 36.44062)
2,1319,꼬마꽃등에,Sphaerophoria menthastri,파리목\n꽃등에과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18200,36.440850,0.0,POINT (129.18200 36.44085)
3,1320,검정수염기생파리,Hermya beelzebul,파리목\n기생파리과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18088,36.440870,0.0,POINT (129.18088 36.44087)
4,1323,수중다리꽃등에,Helophilus virgatus,파리목\n꽃등에과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.15294,36.437973,0.0,POINT (129.15294 36.43797)

In [9]:
coord = [(x,y) for x, y in zip(gis.lon, gis.lat)]
coord

[(129.18011, 36.43924),
 (129.18129, 36.440617),
 (129.182, 36.44085),
 (129.18088, 36.44087),
 (129.15294, 36.437973),
 (129.18188, 36.440796)]

In [41]:
tif_list = glob(r"C:\maxent_work\env\*.tif")
len(tif_list)

12

In [51]:
for idx, tif_path in tqdm(enumerate(tif_list)):
#     print(idx, tif)
    with rio.open(tif_path) as tif:
        gis['bio' + str(idx)] = pd.DataFrame([x for x in tif.sample(coord)])
        gis['bio' + str(idx) ] = gis['val'].apply(lambda x: float(x))    
    
gis.head()

12it [00:00, 92.30it/s]

,beeID,kor_name,eng_name,status,img_url,source,date,lon,lat,altitude,...,bio2,bio3,bio4,bio5,bio6,bio7,bio8,bio9,bio10,bio11
0,1315,삿포로수염치레꽃등에,Chrysotoxum sapporense,"""""파리목\n꽃등에과""""",http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18011,36.439240,0.0,...,511.0,511.0,511.0,511.0,511.0,511.0,511.0,511.0,511.0,511.0
1,1318,꽃등에,Eristalis tenax,파리목\n꽃등에과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18129,36.440617,0.0,...,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0
2,1319,꼬마꽃등에,Sphaerophoria menthastri,파리목\n꽃등에과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18200,36.440850,0.0,...,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0
3,1320,검정수염기생파리,Hermya beelzebul,파리목\n기생파리과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.18088,36.440870,0.0,...,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0
4,1323,수중다리꽃등에,Helophilus virgatus,파리목\n꽃등에과,http://web1mhz.cafe24.com/plants/includes/imag...,국립공원연구원,2018-01-26,129.15294,36.437973,0.0,...,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0